/* h1, h5 {
    text-align: center;
}

#home-text {
    text-align: center;
}

#header-text {
    color: #f6f045;
}

#main-section {
    resize: vertical;
    background: url("../images/light_honeycomb.png");
} */