/********************************************
 * Project: My Guitar Hub
 * Developer: Sean Bryan
 * Date: 2019-05-26
*********************************************/

/* Element Styling */
/* body {
    background-image: url(../images/ocean5.jpg);
} */

button {
    margin: 0 5px;
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    display: inline-block;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);   
    border: 2px solid rgb(28, 110, 164); 
}